In [9]:
import climatedata_functions as climf

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import date, timedelta, datetime
from tqdm import tqdm

In [ ]:
def join_time_values(a, b, c, d):
    result = [0] * (len(a) + len(b) + len(c) + len(d))
    result[::4]  = a[::-1]
    result[1::4] = b[::-1]
    result[2::4] = c[::-1]
    result[3::4] = d[::-1]
    return result

### Temperature

In [10]:
metadata = pd.read_csv("../data/metadata_temp_12_01_06_complete_without_a.csv")
features = ['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1','longitude_trans','x_grid','y_grid','temp_01']
temp_00 = pd.read_csv("../data/temp_00.csv")
temp_18 = pd.read_csv("../data/temp_18.csv")
metadata.drop(features, axis=1, inplace=True)

In [12]:
metadata = metadata.merge(temp_00[['uid','t_0']] , how="inner", on='uid' , validate="1:1")
metadata = metadata.merge(temp_18[['uid','t_18']] , how="inner", on='uid' , validate="1:1")
metadata = metadata.rename(columns={'temp_06': 't_6','temp_12': 't_12'})

features = ['t_0', 't_6', 't_12', 't_18']
metadata = climf.convert_str_to_list(metadata, features)
metadata.head()

,uid,latitude,longitude,date,split,temp_12,temp_06,t_0,t_18
0,aabm,39.080319,-86.430867,2018-05-14,train,"287.3912, 287.32434, 287.29132, 287.193, 287.0...","287.36844, 287.32245, 287.33054, 287.1744, 287...","[287.33194, 287.3078, 287.20935, 287.0335, 286...","[287.39413, 287.3707, 287.28082, 287.17728, 28..."
1,aabn,36.559700,-121.510000,2016-08-31,test,"286.90393, 286.4996, 287.33185, 287.949, 288.6...","290.52673, 289.31335, 286.42764, 286.5656, nan...","[nan, nan, 295.7713, 296.3694, 295.1453, nan, ...","[nan, 307.4625, nan, 303.25363, 300.4625, 298...."
2,aacd,35.875083,-78.878434,2020-11-19,train,"273.60385, 275.0081, 277.22937, 282.50116, 285...","272.54877, 275.38806, 276.32675, 284.8081, 283...","[275.7685, 280.10004, 281.3255, 292.72147, 283...","[288.46835, 287.07294, 291.201, 294.22806, 293..."
3,aaee,35.487000,-79.062133,2016-08-24,train,"nan, nan, 298.3215, nan, 301.2425, 303.88962, nan","nan, 289.81992, 295.1149, nan, 297.08835, 297....","[296.775, 298.04358, 298.7963, 300.6229, 300.4...","[nan, nan, 313.6323, 307.5759, nan, 314.33643,..."
4,aaff,38.049471,-99.827001,2019-07-23,train,"290.9142, 294.3446, 299.29022, 300.99426, 300....","289.93112, 293.8225, 299.7835, 300.02002, 299....","[300.7125, 303.525, 308.34537, 308.03247, 308....","[311.4625, 310.4, 312.3375, 317.2125, 317.0132..."

In [27]:
metadata.to_csv(f'../data/temperature.csv', index=False)

In [ ]:
#temperature
for row in (pbar := tqdm(temp.itertuples(), total=len(temp))):
    print(row)
    time_ser = climf.join_time_values(row.t_0, row.t_6, row.t_12, row.t_18)
    temp.loc[temp['uid'] == row.uid, ['temp']] = str(time_ser)

In [ ]:
temp = metadata.drop(['t_12', 't_6', 't_0', 't_18'], axis=1)
temp.to_csv('../data/temperature_series.csv', index=False)

### Wind

In [40]:
wind_0 = pd.read_csv("../data/wind_0.csv")
wind_6 = pd.read_csv("../data/metadata_si10_6_complete.csv")
wind_12 = pd.read_csv("../data/metadata_si10_12_complete.csv")
wind_18 = pd.read_csv("../data/metadata_si10_18_complete.csv")

In [69]:
wind = wind_0.merge(wind_6[['uid','si10_6']] , how="inner", on='uid' , validate="1:1")
wind = wind.merge(wind_12[['uid','si10_12']] , how="inner", on='uid' , validate="1:1")
wind = wind.merge(wind_18[['uid','si10_18']] , how="inner", on='uid' , validate="1:1")

features = ['si10_0','si10_6','si10_12','si10_18']
wind = climf.convert_str_to_list(wind, features)

wind.head(2)

,uid,latitude,longitude,date,split,longitude_trans,x_grid,y_grid,si10_0,si10_6,si10_12,si10_18
0,aabm,39.080319,-86.430867,2018-05-14,train,273.569133,570,1217,"[3.2827246, 3.181132, 4.5628977, 1.469874, 5.1...","[2.754265, 2.4434078, 4.9966908, 1.8574135, 4....","[3.8764026, 4.698638, 4.848489, 2.2207417, 2.2...","[3.8426483, 3.9012308, 5.519078, 5.944332, 4.4..."
1,aabn,36.559700,-121.510000,2016-08-31,test,238.490000,550,192,"[nan, nan, 7.3650117, 6.7087016, 6.459569, nan...","[4.7222066, 5.3414426, 4.505594, 3.556739, nan...","[4.2186155, 4.8103733, 4.7934113, 3.5959115, 3...","[nan, 6.190797, nan, 5.934439, 6.4784923, 6.44..."

In [ ]:
#wind
for row in (pbar := tqdm(wind.itertuples(), total=len(wind))):
    time_ser = join_time_values(row.si10_0, row.si10_6, row.si10_12, row.si10_18)
    wind.loc[wind['uid'] == row.uid, ['wind']] = str(time_ser)

In [44]:
wind = wind.drop(['si10_0','si10_6','si10_12','si10_18'], axis=1)
wind.to_csv('../data/wind_series.csv', index=False)

## EDA

In [73]:
#temperature = pd.read_csv("../data/temperature_series.csv", date_parser=True)
wind = pd.read_csv("../data/wind_series.csv", date_parser=True)
wind = wind.drop(['longitude_trans', 'x_grid', 'y_grid'], axis=1)
wind = climf.convert_str_to_list(wind, ['wind'])

In [82]:
wind.head(1)

,uid,latitude,longitude,date,split,wind
0,aabm,39.080319,-86.430867,2018-05-14,train,"[2.2833447, 1.94622, 1.331817, 1.2656376, 2.75..."

In [97]:
days = range(7)
for row in (pbar := tqdm(wind.itertuples(), total=len(wind))):
    for day in days:
        mean = np.nanmean([row.wind[4*(day+1)-4],row.wind[4*(day+1)-3],row.wind[4*(day+1)-2],row.wind[4*(day+1)-1]])
        wind.loc[wind['uid'] == row.uid, [f'wind_day{day+1}']] = mean

  0%|          | 5/23570 [00:00<09:26, 41.63it/s]/var/folders/4h/k9rc8jg13fxcn0m11yvndchr0000gn/T/ipykernel_17702/1207899745.py:4: RuntimeWarning: Mean of empty slice
  mean = np.nanmean([row.wind[4*(day+1)-4],row.wind[4*(day+1)-3],row.wind[4*(day+1)-2],row.wind[4*(day+1)-1]])
100%|██████████| 23570/23570 [03:27<00:00, 113.35it/s]

In [100]:
wind.head()

,uid,latitude,longitude,date,split,wind,day1,day2,day3,day4,day5,day6,day7,wind_day1,wind_day2,wind_day3,wind_day4,wind_day5,wind_day6,wind_day7
0,aabm,39.080319,-86.430867,2018-05-14,train,"[2.2833447, 1.94622, 1.331817, 1.2656376, 2.75...",1.706754825,3.0759267,4.024818175,2.8730903000000003,4.981788875,3.55610215,3.4390101250000003,1.706755,3.075927,4.024818,2.873090,4.981789,3.556102,3.439010
1,aabn,36.559700,-121.510000,2016-08-31,test,"[nan, nan, 3.9813075, nan, nan, nan, 3.7734618...",3.9813075,5.1109016,5.3485072,4.948947775,5.554672333333333,5.447537633333333,4.47041105,3.981308,5.110902,5.348507,4.948948,5.554672,5.447538,4.470411
2,aacd,35.875083,-78.878434,2020-11-19,train,"[2.005445, 3.5083356, 2.3487167, 2.2689152, 1....",2.5328531250000004,1.657363425,2.7788418,2.6057764,3.0045866500000002,2.30205015,1.371255025,2.532853,1.657363,2.778842,2.605776,3.004587,2.302050,1.371255
3,aaee,35.487000,-79.062133,2016-08-24,train,"[1.5693433, nan, nan, 6.309602, 1.4112688, 2.9...",3.93947265,1.8088031,2.279738866666667,4.5357052,4.8291822,1.86120055,1.7177186,3.939473,1.808803,2.279739,4.535705,4.829182,1.861201,1.717719
4,aaff,38.049471,-99.827001,2019-07-23,train,"[7.8561816, 6.940431, 7.351467, 10.175036, 9.9...",8.0807789,8.766937500000001,8.05013025,8.660211325,5.73904755,5.417002925,2.800414725,8.080779,8.766938,8.050130,8.660211,5.739048,5.417003,2.800415